// 昼
:root {
  --background-color-0: #f9f9f9;
  --text-color-0: #000000b0; // 文本

}

// 夜
:root.dark {
  --background-color-0: #000;
  --text-color-0: #fff;

}

html {
  // 滚动条颜色
  scrollbar-color: #606060 #fafafa;
  // 滚动条宽度
  scrollbar-width: thin;
}
