.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .blog-name {
    color: #f78ab9;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 10px;
    user-select: none;
  }
}