.home_container {
  width: 100vw;
  height: 100vh;
  background-color: #f9f9f9;

  .home_context {
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    p {
      margin: 0;
    }
  }
  .home_avater {
    width: 60rem;
  }
}
