.home_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4fcfa;
  .home_container {
    width: 100%;
    padding: 20;
    display: flex;
    justify-content: center;
    p {
      margin: 0;
    }
  }
}
