.header-menus {
  display: flex;
  flex-direction: row;

  .header-block {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      font-weight: 600;
    }
  }
}
